@font-face {
    font-family: Odin;
    src: url(assets/Norse-Bold.otf);
}

*{
    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
    display: flex;
}

a {
    color: #596D48;
    text-decoration: none;
}

input:invalid{
    border-color: red;
}


.content-left {
    display: flex;
    flex: 1 1 0;
    position: relative;

    img#background {
        position: absolute;
        height: 100vh;
        width: 100%;
    
    } 

    .banner {
        top: 20%;
        padding: 2% 0;
    
        position: relative;
        max-width: 100%;
        height: fit-content;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: white;
        font-family: Odin;
        font-size: 4rem;
    
        background-color: #00000090;

        img#logo {
            position: relative;
            max-width: 20%;
        }
    }

}

.content-right {
    display: flex;
    flex-direction: column;
    flex: 2.5 1 0;

    .informational {
        display: flex;
        font-weight: bolder;
        justify-content: center;
        align-items: end;

        #text {
            position: relative;
            padding-left: 5%;
            padding-right: 20%;
            bottom: 15%;
        }

    }

    .form {
        color: rgb(107, 107, 107);
        font-size: large;
        font-weight: bold;

        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;

        .container {
            display: flex;
            padding: 1% 0;
            justify-content: left;
            gap: 5%;

            .column {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;

                gap: 2vh;

                font-size: small;

                div {
                    display: flex;
                    flex-direction: column;
                    
                    input {
                        height: 25px;
                    }

                }
            }
        }
    }

    .confirmation {
        display: flex;
        flex-direction: column;
        gap: 20%;

        padding-top: 5%;
        padding-left: 5%;
        top: 5%;


        button {
            color: white;
            background-color: #596D48;
            font-size: large;
            font-weight: bold;

            width: 30%;
            height: 25%;

            border-radius: 10px;
            border-style: none;
        }
        

    }

    .informational, .form, .confirmation {
        max-width: 100%;
        height: 100%;
    }

    .informational, .confirmation {
        background-color: rgb(235, 235, 235);
    }
}



